// body, div, span, ul, li, input, a, p, h1, h2, h3, h4, h5, img, table, tr, th, td {
//     box-sizing: border-box;
//     margin: 0;
//     padding: 0;
//     outline: 0 none;
//     border: 0 none;
// }


body, div, span, ul, li, input, a, img {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0 none;
    border: 0 none;
}