#navbar {
    flex-direction: column;
    height: auto;

    #hamburger-container {
        .hamburger {
            display: block;

            .bar {
                display: block;
            }
        }
    }

    nav {
        transition: 250ms width ease-in-out;
        justify-content: space-around;

        ul {
            flex-direction: column;

            li {
                align-items: center;
                &:hover > ul {
                }
                ul {
                    position: static;
                }

                a {
                    #acasa-text {
                        display: none;
                    }
                }
            }
        }

    }
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    background-color: var(--visitedLinks);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-5.5px) rotate(-45deg);
    background-color: var(--visitedLinks);
}