@import "../css/variables.css";
#navbar {
  background-color: var(--dark);
  font-family: var(--regularFont);
  height: var(--navHeight);
}
#navbar #hamburger-container {
  display: flex;
}
#navbar #hamburger-container .hamburger {
  display: none;
  padding: 1em;
  z-index: 200;
}
#navbar #hamburger-container .hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 4px 0;
}
#navbar nav {
  display: flex;
}
#navbar nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
  text-align: center;
}
#navbar nav ul li {
  list-style: none;
  position: relative;
}
#navbar nav ul li:hover > ul {
  display: block;
  width: 100%;
  align-items: center;
}
#navbar nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--dark);
}
#navbar nav ul li:hover > a {
  transform: scale(1.2);
}
#navbar nav ul li a {
  transition: 1s ease-in-out;
  display: block;
  text-decoration: none;
  color: var(--white);
  box-sizing: border-box;
  line-height: var(--navHeight);
  padding: 0 1rem;
}
#navbar nav ul li a #acasa-icon {
  display: flex;
  align-items: center;
}
