<header>
    <div id="navbar">
        <div id="hamburger-container">
            <div class="hamburger" id="hamburger-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>

        <nav>
            <ul class="nav-ul">
                <li><a href="/" id="acasa-icon">
                        <i class="fa-solid fa-house"></i>
                        <span id="acasa-text">Acasă</span>
                    </a>
                </li>
                <li><a href="/produse">Cumpara</a>
                </li>
                <li><a href="/">Închiriază</a>
                    <ul>
                        <li><a href="/">Închiriază</a></li>
                        <li><a href="/">Închiriază</a></li>
                        <li><a href="/">Închiriază</a></li>
                        <li><a href="/">Închiriază</a></li>
                    </ul>
                </li>
                <li><a>Produse</a>
                    <ul>
                        <li><a href="/produse">Toate</a></li>
                        <li><a href="/produse?tip=cofetarie">Cofetarie</a></li>
                        <li><a href="/produse?tip=gelaterie">Gelaterie</a></li>
                        <li><a href="/produse?tip=patiserie">Patiserie</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>