<header>
    <div id="navbar">

        <div id="hamburger-container">
            <div class="hamburger" id="hamburger-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>

        <nav>
            <ul class="nav-ul">
                <li><a id="acasa-icon">
                        <i class="fa-solid fa-house"></i>
                        <span id="acasa-text">Acasă</span>
                    </a>
                </li>
                <li><a href="#">Cumpara</a>
                </li>
                <li><a href="#">Închiriază</a>
                    <ul>
                        <li><a href="#pag1">Închiriază</a></li>
                        <li><a href="#pag2">Închiriază</a></li>
                        <li><a href="#pag3">Închiriază</a></li>
                        <li><a href="#pag4">Închiriază</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a>
                    <ul>
                        <li><a href="#section-2">Section 2</a></li>
                        <li><a href="#section-4">Section</a></li>
                        <li><a href="#section-8">Section</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>